[Desktop Entry]
Type=Application
Exec=/bin/bash -c '/home/orangepi/Desktop/FlyStation/start.sh'
Hidden=false
NoDisplay=false
Terminal=true
Name=2023飞行站开机自启
StartupNotify=false
